.radio {
  margin-top:5px;
}

label {
  margin-top:5px;
  margin-bottom:5px;
  padding:2px;
}

.btn {
  margin-top: 10px;
}

.radio-label {
  margin-top: 10px;
  font-weight: bold;
  padding-bottom:10px;
  font-size:1.2em;
}

.center {
  text-align:center;
}

.smaller {
  height:500px;
  width:500px;
}
